<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>News System </title>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/components.css" />
		<link rel="stylesheet" href="/stylesheets/core.css" />
		<link rel="stylesheet" href="/stylesheets/icons.css" />
		<link rel="stylesheet" href="/stylesheets/myStyle.css" />
		<link rel="stylesheet" href="/stylesheets/responsive.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/datatables.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/magnific-popup.css" />
	</head>
	<body>
		<header>
			<h1></h1>
		</header>
		<article>