$base-green:rgb(53, 181, 88);     //#35b558
$base-gray:rgb(223, 223, 223);    //#dfdfdf
$base-gray2:rgb(128, 128, 128);   //#808080
$border-gray:rgb(232, 232, 232);  //#e8e8e8
$border-gray2:rgb(228, 228, 228); //#e4e4e4
$font-color:rgb(51, 51, 51);      //#333
$font-size:12px;
$font-family:Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
$length-no:0px;
$length-sm:5px;
$length-md:10px;
$length-lg:20px;